@charset "utf-8";
#new_demand .demend_right .title-explain{ overflow:hidden; }
#new_demand .demend_right .context-explain { padding-top:19px; }
#new_demand .right .context-explain.package table td .progress-bar {background:#77c655;}