@layout("/common/_container.html"){
<style>
    ul,ol { list-style:none; }
    .main-list-item li { line-height:38px; }
    .modal-body-title { margin-bottom:10px; padding-left:16px; }
    .modal-body-title .main-txt { font-size:14px; color:#000000; }
    .data-box .col-sm-9{ width:60%; }
    .conpanyname { float:left; }
    .main-list-item.conpany  { padding:0; overflow:hidden; margin-top:15px; }
    .main-list-item{padding-left: 0;}
    .main-title{width: 10px;height: 20px;background: rgba(255, 153, 0, 1);display: block;float: left;}
    .main-txt{margin-left: 10px;}
    .main-list-item li span:nth-child(1){font-style: 14px;color:#333333;font-weight: 700;font-family: 'Arial Negreta', 'Arial';}
   .data-box>.form-group>label.control-label{width:0;padding-left: 0px;}
   body{font-size: 14px;}
</style>

<div class="ibox float-e-margins" style="padding:-20px;">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${csDemandManageId}">

            <div class="row">
                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">需求概况ID :</span>
                    <span class="main-txt demandid">12312dsf513514</span>
                </div>

                <div class="main-box col-sm-12">
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>需求名:</span>

                            <span class="demandname">
                            </span>

                        </li>
                        <li>
                            <span>需求量:</span>
                            <span class="demandquantity">
                            </span>
                        </li>
                            <li>
                            <span>开始日期:</span>
                            <span class="begintime">
                            </span>
                        </li>
                    </ul>
                    
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>业务类型:</span>
                            <span class="servicetypedesc">
                            </span>
                        </li>
                        <li>
                            <span>需求总价:</span>
                            <span class="demandtotalprice">
                            </span>
                            <span class="">元</span>
                        </li>
                            <li>
                            <span>结束日期:</span>
                            <span class="endtime">
                            </span>
                        </li>
                            
                    </ul>
                    
                </div>




                 <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">基本信息:</span>
                </div>
                <div class="main-box col-sm-12">
                    
                    <ul class="main-list-item col-sm-6 basicdetail">
                        <li>
                            <span>行业：</span>
                            <span class="industry">
                            </span>
                        </li>
                        <li>
                            <span>行业细分：</span>
                            <span class="industryxifen">
                            </span>
                        </li>
                            <li>
                            <span>霿求备注：</span>
                            <span class="demandcomment">
                            </span>
                        </li>
                        <li>
                            <span>项目负责人：</span>
                            <span class="projectleader">
                            </span>
                        </li>
                        <li>
                            <span style="float:left;">归属年月：</span>
                            <span class="vestingtime" style="float:left;">
                                <div class="data-box">
                                    
                                     <#input id="end_date" name=""  underline="false"
                                                value="2013-09-03"
                                     clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
                                </div>
                            </span>
                        </li>
                    </ul>

                    <ul class="main-list-item  col-sm-6 basicdetail">
                        <li>
                            <span>行业类型：</span>
                            <span class="onoffline">
                         
                            </span>
                        </li>
                        <li>
                            <span>目标人群：</span>
                            <span class="targetagefrom">
                            </span>
                            <span>~</span>
                            <span class="targetageto">
                            </span>
                            <span>周岁：</span>
                            <span style="margin-left:20px;">加价：</span>
                            <span class="targetaddprice">
                            
                            </span>
                            <span>元</span>
                        </li>
                        <li>
                            <span>产品介绍：</span>
                            <span class="productattach">
                            
                            </span>
                        </li>
                        <li>
                            <span>负责人电话：</span>
                            <span class="projectleaderphone">
                            </span>
                        </li>
                    </ul>
                </div>
               

                 <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">销售线索模板:</span>
                </div> 
                <div class="main-box col-sm-12">
                    <ul class="main-list-item">
                        <li>
                            <span>标签加价：</span>
                            <span class="addprices">+<i style="font-style:normal;">6</i>元</span>
                        </li>
                                        
                    </ul>   
                </div>
                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">子需求:</span>
                </div> 

                  <div class="main-box col-sm-12">
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>目标区域:</span>

                            <span>
                            </span>

                        </li>
                        <li>
                            <span>发布数量:</span>
                            <span>
                            </span>
                        </li>
                        <li>
                            <span>合同单价:</span>
                            <span></span>
                            <span > 元</span>
                        </li>
                         <li>
                            <span>总价:</span>
                            <span></span>
                            <span > 元</span>
                        </li>
                        <li>
                            <span>备注:</span>
                            <span >
                            </span>
                        </li>
                    </ul>
                    
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>目标区域:</span>

                            <span>
                            </span>

                        </li>
                        <li>
                            <span>发布数量:</span>
                            <span>
                            </span>
                        </li>
                        <li>
                            <span>合同单价:</span>
                            <span></span>
                            <span > 元</span>
                        </li>
                         <li>
                            <span>总价:</span>
                            <span></span>
                            <span > 元</span>
                        </li>
                        <li>
                            <span>备注:</span>
                            <span >
                            </span>
                        </li>
                    </ul>
                    
                </div>


                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">操作:</span>
                </div>

                <div class="main-box col-sm-12">
                    <ul class="main-list-item conpany">
                        <li>
                            <span class="conpanyname">确认完成:</span>
                            <div class="pull-right1 col-sm-3 select">
                                    <select class="form-control demandstate" style="width: 120px;">
                                        <option value="3">结算中</option>
                                        <option value="4">已完成</option>
                                    </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 b-r">
                </div>

                <div class="col-sm-6">
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CsDemandManageInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CsDemandManageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/mso/csDemandManage/csDemandManage_info.js"></script>
@}
