.box{
    border-bottom: 1px solid #000;
}
.title2{
    padding:10px 0;
    font-size: 18px;
    letter-spacing: 2px;

}
.title3{
    text-align: center;
    background-color: #cccccc;
    height: 30px;
    line-height: 30px;
}
.submit{
    text-align: center;
}