/*外页注册*/
.register_window{position: fixed;width:100%;height:100%;background: rgba(0,0,0,.3);top:0;left:0;display: none;}
.new_register{position:absolute;top:170px;left:calc(50% - 250px);width:600px;min-height:500px;border-radius:40px;background: #04155d;color:#fff;padding:0px 20px 0px 40px;}
.new_register p.title{margin:40px 0px 60px 0px;line-height:24px;text-align:center;color:#0b96f8;font-size:24px;}
.new_register i.register_close{position:absolute;top:20px;right:20px;cursor:pointer;width:35px;height:35px;display: block;background: url("../images/home/new_register_close.png")}
.new_register i.register_close:hover{background: url("../images/home/new_register_close_hover.png")}
.new_register .register_progress{width:820px;margin:0px auto 40px;}
.new_register .register_progress li{position:relative;display:inline-block;width:230px;height:50px;line-height:50px;padding-left:100px;margin-right:49px;font-size:16px;color:#666;background: #e4e4e4;}
.new_register .register_progress li:nth-last-of-type(1){margin-right:0;}
.new_register .register_progress li:after{position:absolute;right:-30px;top:0;display:block;content:"";width: 0;  height: 0;  border-top: 25px solid transparent;  border-left: 31px solid #e4e4e4;border-bottom: 25px solid transparent;}
.new_register .register_progress li.active{background: #5db9fc;color:#fff;}
.new_register .register_progress li.active:after{border-left-color:#5db9fc;}
.new_register .register_progress li i.index{position:absolute;left:0;display:block;width:90px;height:50px;text-align:center;font-size:24px;background:url("../images/home/i_index.png")no-repeat;color:#fff;font-style: normal}
.new_register .register_progress li.active i.index{background:url("../images/home/i_index_active.png")no-repeat;}
.new_register .register_form table input[type=text],.new_register .register_form table input[type=password],.new_register .register_form table input[type=email]{width:230px;height:40px;border:1px solid #a0a0a0;border-radius:4px;padding:0 9px;background:none;color:#fff;}
.new_register .register_form table input.img_code{width:230px;}
.new_register .register_form table .register_2 input[type=text],.new_register .register_form table .register_2 input[type=password]{width:290px;}
.new_register .register_form table tr td:nth-of-type(1){vertical-align:top;line-height:40px;text-align: right;padding-right:40px;font-size:16px;    white-space: nowrap;}
.new_register .register_form table  .register_1 tr td:nth-of-type(2){padding-bottom: 40px;}

.new_register .register_form table  tr td:nth-of-type(2){padding-bottom: 20px;line-height:40px;}
.new_register .register_form table  tr td.test_error{padding-bottom: 40px;}
.new_register .register_form table .jfutype button{width:120px;height:40px;font-size:18px;border-radius:4px;padding:0 9px;background: #c9c9c9;border:none;color:#fff;}
.new_register .register_form table .jfutype button:nth-of-type(1){margin-right:10px;}
.new_register .register_form table .jfutype button.active{background: #1aa0ff;}
.new_register .register_form table .jfutype p{color:#999;margin-top:10px;}
.new_register .register_form table i[class^=prompt_img]{display:none;vertical-align: middle;margin:0px 0px 0px 6px;width:18px;height:18px;background: url("../images/home/form_right.png")no-repeat;}
.new_register .register_form table .prompt_title{display:none;line-height:40px;margin-left:6px;color:#fd5352;}
.new_register .register_form table .test_error .prompt_title{display:inline-block;margin-left:6px;color:#fd5352;}
.new_register .register_form table .prompt_img_right+div{display:none;position: absolute;}
.new_register .register_form table .test_error .prompt_img_right+div{display:block;}
.new_register .register_form table .test_error .prompt_img_error{display:inline-block;background: url("../images/home/form_error.png")no-repeat;}
.new_register .register_form table .test_right .prompt_img_right{display:inline-block;background: url("../images/home/form_right.png")no-repeat;}
.new_register .register_form table .test_error .prompt_img_error+.prompt_title{display:inline-block;}
.new_register .register_form table .red_star{color:#fd5352;}
.new_register button.submit{width:360px;height:46px;background:url("../images/home/button_next.png");display:block;margin:20px auto 20px auto;border:none;}
.new_register button.submit:hover{background:url("../images/home/button_next_hover.png");}
.new_register button.submit+div{text-align: center;color:#c9c9c9;}
.new_register button.submit+div a{text-decoration: underline;}
.new_register button.submit.button_register{background:url("../images/home/button_register.png");}
.new_register button.submit.button_register:hover{background:url("../images/home/button_register_hover.png");}
.new_register .register_form table div#img_code{background:#fff;border-radius:4px;width:120px;height:40px;line-height:38px;border:1px solid #a0a0a0;display:inline-block;margin-left:10px;vertical-align: top;color:blue;font-size:20px;letter-spacing:3px;font-weight:bolder;cursor:pointer;text-align:center;}
.new_register .register_form table div#img_code img{width:100%;height:100%;}
.new_register .register_form table button.msg_code{width:120px;height:40px;border-radius: 4px;border:none;margin-left:10px;color:#fff;background: #196ffd;}
.new_register .register_form table button.msg_code:hover{background: #4289ff;}
.new_register .register_form table button.msg_code_no{width:120px;height:40px;border-radius: 4px;border:none;margin-left:10px;color:#fff;background: #88cbfb;}

/*.new_register .register_1{display:none;}*/
.new_register .register_2{display:none;}
.new_register .form_box .success{position:relative;width:100%;margin:0px auto;text-align:center;min-height:240px;}
.new_register .form_box .success img{position: relative;left:calc(50% - 130px);}
.new_register .form_box .success p:nth-of-type(2){font-size:30px;line-height:30px;padding:20px 0px 40px 0px;}
.new_register .form_box .success p:nth-of-type(3){font-size:18px;line-height:18px;}
.new_register .form_box .success p:nth-of-type(3) a{color:#8fb8fd;}
.new_register .form_box .success p:nth-of-type(3) a:hover{text-decoration: underline;}
.new_register .form_box .success p:nth-of-type(4) button{width:360px;height:46px;color:#fff;font-size:18px;line-height:40px;background:url("../images/home/button_success.png");display:block;margin:30px auto;border:none;}
.new_register .form_box .success p:nth-of-type(4) button:hover{background:url("../images/home/button_success_hover.png");}
/*外页注册*/