@charset "utf-8";

body,ul,li,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,button { margin:0; padding: 0;}
body { font-size:14px; font-family: "microsoft yahei", sans-serif; -moz-user-select: text; min-width:1155px;}
img {border:none; display: block;}
li {list-style: none}
textarea {resize:none;}
textarea, input, button { outline: none;}
a, a:hover {text-decoration: none;}
button { cursor: pointer;}
textarea, input, button { font-family: "microsoft yahei";}
html, body, .wrap { height: 100%;}


.cover { position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); display: block;}
.cover .cover-submit { width: 660px; height: 660px; background: url(../images/bg-cover2.png) center top no-repeat; position: absolute; left: 50%; top: 50%; margin-left: -330px; margin-top: -330px;}
.cover .cover-submit .comfirm-box { margin-top: 380px; border-radius: 10px; background: rgba(0,0,0,.6); height: 280px;}
.cover .cover-submit .comfirm-box .closed { margin: 22px 22px 0 0; float: right; display: block; background: url(../images/cover-closed.png) no-repeat; width: 20px; height: 20px; cursor: pointer;}
.cover .cover-submit .comfirm-box h2 { font-size: 36px; color: #F4BB41; line-height: 36px; text-align: center; font-weight: normal; padding-top: 50px; padding-bottom: 22px;}
.content { height: 106px;}
.cover .cover-submit .comfirm-box p { font-size: 20px; color: #FFFFFF; line-height: 36px; color: #fff; text-align: center;}
.cover .cover-submit .comfirm-box p a { color: #F4BB41;}
.cover .cover-submit .comfirm-box .btn-more { background: #F4BB41; display: block; width: 150px; height: 42px; line-height: 42px; font-size: 16px; color: #fff; margin: 0 auto; text-align: center;}
