@charset "utf-8";

body,ul,li,ol,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,button { margin:0; padding: 0;}
body { font-size:14px; font-family: "microsoft yahei", sans-serif; -moz-user-select: text; min-width:1155px;}
img {border:none; display: block;}
li {list-style: none}
textarea {resize:none;}
textarea, input, button { outline: none;}
a, a:hover {text-decoration: none;}
button { cursor: pointer;}
textarea, input, button { font-family: "microsoft yahei";}
html, body, .wrap { height: 100%;}


.cover { position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,0); display: block;}
.cover .cover-box { width: 600px; height: 400px; background: #fff; box-shadow: 0 0 5px #ccc; position: absolute; left: 50%; top: 50%; margin-left: -300px; margin-top: -220px;}
.cover .cover-box .title { line-height: 45px; height: 45px; font-size: 16px; text-align: left; background: #F4BB41; color: #fff; text-indent: 1em;}
.cover .cover-box .title .closed { float: right; background: url(../images/cover-closed.png) no-repeat; width: 20px; height: 20px; display: block; margin: 12px; cursor: pointer;}
.cover .cover-box .content { padding: 50px;}
.cover .cover-box .content ul { padding-left: 35px;}
.cover .cover-box .content li { line-height: 35px; height: 60px;}
.cover .cover-box .content label { display: inline-block; width: 8em; text-align: right; font-weight: normal;}
.cover .cover-box .content input { height: 32px; line-height: 32px; border: 1px #ccc solid; border-radius: 3px; width: 220px; padding-left: 8px;}
.cover .cover-box .content input:focus { border: 1px #eaad2b solid; box-shadow: 0 0 3px #eaad2b;}
.cover .cover-box .content input.error { border: 1px #f00 solid; box-shadow: 0 0 3px #fa5353;}
.cover .cover-box .content li p.error { color: #f00; line-height: 15px; padding-left: 8.5em; display: none;}
.cover .cover-box .content .btn-box { padding: 25px 0; text-align: center;}
.cover .cover-box .content .btn-box button { width: 110px; height: 36px; border-radius: 3px; margin: 0 8px; font-size: 16px;}
.cover .cover-box .content .btn-box button.btn-save { background: #F4BB41; border: 1px #F4BB41 solid; color: #fff;}
.cover .cover-box .content .btn-box button.btn-save:hover { background: #eaad2b; border: 1px #eaad2b solid;}
.cover .cover-box .content .btn-box button.btn-cancel { background: #fff; border: 1px #ccc solid; color: #8C8C8C;}
.cover .cover-box .content .btn-box button.btn-cancel:hover { background: #fff; border: 1px #B3B3B3 solid; color: #424242;}

.fadeOut { width: 180px; height: 60px; line-height: 50px; text-align: center; position: fixed; left: 50%; top: 50%; margin-left: -95px; margin-top: -60px; border: 5px #eaad2b solid; background: #fff; display: none;}

