@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="createTime"   name="创建时间" underline="true"/>
                             <#input id="modifiedTime"   name="修改时间" underline="true"/>
                            <#input id='state'   name='数据状态' underline="true"/>
        <#input id= 'serviceType'   name='业务类型' underline="true"/>
        <#input id= 'targetPopulation'   name='目标人群' underline="true"/>
        <#input id= 'targetAgeFrom'  name='目标区域人群年龄' underline="true"/>
        <#input id= 'targetAgeTo'  name='目标区域人群年龄' underline="true"/>
        <#input id= 'targetChannel'  name='获客渠道' underline="true"/>
        <#input id= 'demandName'   name='需求名' underline="true"/>
        <#input id= 'demandDesc'   name='需求描述' underline="true"/>
        <#input id= 'demandState'   name='发包方需求状态' underline="true"/>
        <#input id= 'demandComment'   name='需求备注' underline="true"/>
        <#input id= 'productName'   name='产品名称' underline="true"/>
        <#input id= 'productIntroduce'   name='产品介绍' underline="true"/>
        <#input id= 'beginTime'   name='开始时间' underline="true"/>
        <#input id= 'endTime'   name='结束时间' underline="true"/>
        <#input id= 'projectLeader'   name='项目负责人' underline="true"/>
        <#input id= 'projectLeaderPhone'   name='项目负责人电话' underline="true"/>
        <#input id= 'areaAndDemandQuantity'   name='子需求' underline="true"/>
        <#input id= 'industryXifen'   name='行业细分' underline="true"/>
        <#input id= 'chargeTag'   name='收费标签' underline="true"/>
        <#input id= 'customTag'   name='自定义标签' underline="true"/>
        <#input id= 'trusteeship'   name='是否托管' underline="true"/>
        <#input id= 'paymentCycle'   name='付款周期' underline="true"/>
        <#input id= 'settlementCycle'   name='结算周期' underline="true"/>
        <#input id= 'favorableMode'   name='优惠方式' underline="true"/>
        <#input id= 'releaseQuantity'   name='需求发布的订单数量' underline="true"/>
        <#input id= 'unitPrice'   name='需求单价' underline="true"/>
        <#input id= 'totalPrice'   name='需求总价' underline="true"/>
        <#input id= 'favorableTotalPrice'   name='优惠后的总价' underline="true"/>
        <#input id= 'finalTotalPriceType'   name='最终使用的总价类型' underline="true"/>
        <#input id= 'completeQuantity'   name='包完成数量' underline="true"/>
        <#input id= 'settlementQuantity'   name='结算数量' underline="true"/>
        <#input id= 'settlementTotalPrice'   name='结算总价' underline="true"/>
        <#input id= 'auditPassTime'   name='审核通过时间' underline="true"/>
        <#input id= 'completeTime'   name='修改到完成状态的完成时间' underline="true"/>
        <#input id= 'operationRemark'   name='操作备注' underline="true"/>
        <#input id= 'settlementTime'   name='结算日期' underline="true"/>
        <#input id= 'vestingTime'   name='归属年月' underline="true"/>
        <#input id= 'hasTask'   name='是否创建了任务' underline="true" />

                </div>

                <div class="col-sm-6">

                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info"   name="提交" id="ensure" icon="fa-check" clickFun="Fbf_demandInfoDlg.addSubmit()"/>
                    <#button btnCss="danger"   name="取消" id="cancel" icon="fa-eraser" clickFun="Fbf_demandInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/mso/fbf_demand/fbf_demand_info.js"></script>
@}
