<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.mso.mapper.BdMapper">

	<insert id="insertBd" parameterType="com.stylefeng.guns.modular.mso.model.Bd">
		insert into bd (name)values (#{name})
	
	
	</insert>

	<update id="updateBd"  parameterType="com.stylefeng.guns.modular.mso.model.Bd">
	    update bd
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="bdlist" resultType="map" parameterType="com.stylefeng.guns.modular.mso.model.Bd">
		select * from bd t
		<where>
			<if test="id != null and id != ''">
			and	t.id LIKE CONCAT(CONCAT('%', #{id}),'%')
		</if>
		<if test="name != null and name != ''">
			and	t.name LIKE CONCAT(CONCAT('%', #{name}),'%')
		</if>
		</where>
	</select>
	
	
	<select id="selectById" resultType="com.stylefeng.guns.modular.mso.model.Bd" parameterType="String">
		select * from bd t 
		where id = #{bdId}
	</select>
	
	<delete id="deleteBd" parameterType="String">
	   delete from bd where id = #{bdId}
	</delete>
	

	
	
	



	<select id="tree" resultType="com.stylefeng.guns.common.node.ZTreeNode">
		select id,pid as pId,simplename as name,
		(
		CASE
		WHEN (pId = 0 OR pId IS NULL) THEN
			'true'
		ELSE
			'false'
		END
		) as isOpen from dept
	</select>

	<select id="list" resultType="map">
		select * from dept
		<if test="condition != null and condition != ''">
			where simplename like CONCAT('%',#{condition},'%') or fullname like CONCAT('%',#{condition},'%')
		</if>
		order by num ASC
	</select>

</mapper>