@layout("/common/_container.html"){
<style>
    ul,ol { list-style:none; }
    .main-list-item li { line-height:38px; }
    .modal-body-title { margin-bottom:10px; padding-left:16px; }
    .modal-body-title .main-txt { font-size:14px; color:#000000; }
    .data-box .col-sm-9{ width:60%; }
    .conpanyname { float:left; }
    .main-list-item.conpany  { padding:0; overflow:hidden; margin-top:15px; }
    .main-list-item{padding-left: 0;}
    .main-title{width: 10px;height: 20px;background: rgba(255, 153, 0, 1);display: block;float: left;}
    .main-txt{margin-left: 10px;}
    .main-list-item li span:nth-child(1){font-style: 14px;color:#333333;font-weight: 700;font-family: 'Arial Negreta', 'Arial';}
   .data-box>.form-group>label.control-label{width:0;padding-left: 0px;}
   .main-list-item li span:nth-child(1){float: left;width: 110px;text-align: right;}
   .main-list-item li{display: table;}
   .radio label, .checkbox label{padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;}
   body{font-size: 14px;}
</style>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${orderManageId}">

           <div class="row">
                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">订单概况 : ID :</span>
                    <span class="main-txt demandid">12312dsf513514</span>
                </div>

                <div class="main-box col-sm-12">
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>订单名:</span>

                            <span class="ordername">
                            </span>

                        </li>
                        <li>
                            <span>接包方公司:</span>
                            <span class="companyname">
                            </span>
                        </li>
                            <li>
                            <span>行业:</span>
                            <span class="industry">
                            </span>
                        </li>
                       <li>
                            <span>目标人群：</span>
                            <span class="targetagefrom">15</span>
                            <span>~</span>
                            <span class="targetageto">25</span>
                            <span>周岁</span>
                        </li>
                        </li>
                            <li>
                            <span>开始日期:</span>
                            <span class="begintime">
                            </span>
                        </li>
                        </li>
                            <li>
                            <span>任务数量:</span>
                            <span class="orderquantity">
                            </span>
                        </li>
                        </li>
                            <li>
                            <span>备注:</span>
                            <span class="comment">
                            </span>
                        </li>
                    </ul>
                    
                    <ul class="main-list-item col-sm-6">
                        <li>
                            <span>业务类型:</span>
                            <span class="servicetypedesc">
                            </span>
                        </li>
                        <li>
                            <span>内部简称:</span>
                            <span class="shortname">
                            </span>
                        </li>
                        <li>
                            <span>行业类型:</span>
                            <span class="onoffline">
                            </span>
                        </li>
                        <li>
                            <span>目标区域:</span>
                            <span class="targetarea">
                            </span>
                        </li>
                        <li>
                            <span>结束日期:</span>
                            <span class="endtime">
                            </span>
                        </li>
                       <li>
                            <span>任务单价：</span>
                            <span class="orderunitprice">80</span>
                            <span>元</span>
                        </li>
                            <li>
                            <span>归属年月:</span>
                            <span class="vestingtime">
                            </span>
                        </li>  
                    </ul>
                    
                </div>

                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">附件:</span>
                </div>
                    
                <div class="main-box col-sm-12">
                      <ul class="main-list-item col-sm-6">
                        <li>
                            <span>质检标准 : </span>
                            <a href="">下载</a>
                            <span style="margin-left: 15px;">
                            文件名:
                            </span>
                            <span></span>

                        </li>
                        <li>
                            <span>销售线索模板 : </span>
                              <a href="">下载</a>
                            <span style="margin-left: 15px;">
                            文件名:
                            </span>
                            <span></span>
                        </li>
                        <li>
                            <span>话术文件 : </span>
                             <a href="">下载</a>
                            <span style="margin-left: 15px;">
                            文件名:
                            </span>
                            <span></span>
                        </li>
                    </ul>
                </div>


               


                  

                <div class="modal-body-title special noborder">
                    <span class="main-title"></span>
                    <span class="main-txt">操作:</span>
                </div>

                   <div class="main-box col-sm-12">
                      <ul class="main-list-item col-sm-6 ">
                        <li>
                            <span>订单状态:</span>
                           <div class="pull-right1 col-sm-3 select">
                                    <select class="form-control demandstate" style="width: 120px;border-radius: 4px;">
                                        <option value="3">进行中</option>
                                        <option value="4">关闭并结算</option>
                                    </select>
                            </div>
                        </li>
                        <li>
                            <span>是否暂停:</span>
                            <div class="radio" style="float: left;>
                              <label>
                                <input type="radio" name="optionsRadios" class="pause ispause" value="0">
                                <i style="display:table;">否</i>
                              </label>
                              <label>
                                <input type="radio" name="optionsRadios" class="pause ispause" value="1">
                                <i style="display:table;">是</i>
                              </label>
                            </div>
                        </li>
                        <li>
                            <span>暂停原因:</span>
                            <div class="pull-right1 select col-sm-3 ">
                                <textarea class="pausereason" style="width: 200px;height: 80px;resize: none;overflow: hidden;">                              
                                </textarea>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 b-r">
                </div>

                <div class="col-sm-6">
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderManageInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderManageInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/mso/orderManage/orderManage_info.js"></script>
@}
