*.class

# Package Files #
*.jar
*.war
*.ear

/target/classes/*
/target/generated-sources/*
/target/generated-test-sources/*
/target/maven-archiver/*
/target/maven-status/*
/target/surefire-reports/*
/target/test-classes/*


# eclipse
.settings/
.classpath
.project
logs/

# idea
.idea/
*.iml

*velocity.log*

/target/
/.metadata/
