.headerList li{
    width: 20%;
    float: left;
    text-align: center;
    padding: 24px 0;
    font-weight: bold;
    font-size: 14px;

}
.headerList a{
    color: #000000;
}
.active li{
    background-color:#006FC1;
}
.active{
    color:#ffffff!important;
}
.head_title{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.head_title_EN{
    font-size:10px;
    margin-top: -5px;
    letter-spacing:-1px;
}